/*----------------------------------------*/
/*  01. Template default CSS
/*----------------------------------------*/

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

/*-- Google Font --*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-- Common Style --*/
*,
*::after,
*::before {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    position: relative;

    visibility: visible;

    color: "";
    &[dir="rtl"] {
        text-align: right;
    }
}

a,
button {
    transition: $transition-base;
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

/* No Gutters */
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}
/* Image Fit */
.fit-image{
    width: 100%;
    object-fit: cover;
}
/* Body Overlay */
.body-overlay {
    background-color: rgba(255,255,255,0.8);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    cursor: crosshair;
}
/* Scroll Up */

.scroll-top{
    position: fixed;
    right: 30px;
    bottom: -60px;
    z-index: 999;
    box-shadow: 0 30px 50px rgba(0,0,0,.03);
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: $gray-700;
    background-size: 200% auto;
    background-position: left center;
    transition: .3s;
    overflow: hidden;

    &:hover {
        background-color: $primary;
        i {
            color: $white;
            transition: .3s;
        }
    }

    @media #{$extra-small-mobile}{
        font-size: 20px;
    }

    &.show{
        visibility: visible;
        opacity: 1;
        bottom: 60px;
    }

    i{
        position: absolute;
        top: 50%;
        left: 50%;
        color: $white;
        transition: .3s;
    }

    .arrow-top{
        transform: translate(-50%, -50%);
    }

    .arrow-bottom{
        transform: translate(-50%, 80px);
    }

    &:hover{
        background-position: right center;
        .arrow-top{
            transform: translate(-50%, -80px);
        }
        .arrow-bottom{
            transform: translate(-50%, -50%);
        }
    }
}

/* ---Social Links --- */
.widget-social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

	a{
		font-size: 16px;
		height: 30px;
		width: 30px;
		line-height: 30px;
		text-align: center;
		background: $gray-300;
		color: $headings-color;
		margin-right: 10px;
        border-radius: 50%;
        
		&:hover{
			background: $primary;
			color: $white;
        }
        
		@media #{$extra-small-mobile}{
			margin-right: 5px;
        }
        
	}
}
/* Section Style */
.section,
.section-fluid {
    float: left;
    width: 100%;
}
.section-fluid {
    padding-right: 160px;
    padding-left: 160px;
    @media #{$laptop-device, $desktop-device,
    $tablet-device,
    $large-mobile} {
        padding-right: 15px;
        padding-left: 15px;
    }
    @media #{$extra-small-mobile} {
        padding-right: 0;
        padding-left: 0;
    }
}
/* Section Spacing */
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    @media #{$tablet-device} {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media #{$large-mobile} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.section-margin {
    margin-top: 120px;
    margin-bottom: 120px;
    @media #{$tablet-device} {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    @media #{$large-mobile} {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
.section-padding-sm {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-margin-sm {
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Section TItle */
.section-title {
    margin-bottom: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media #{$tablet-device} {
        margin-bottom: 50px;
    }
    @media #{$large-mobile} {
        margin-bottom: 40px;
    }
    & .title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;

        margin-bottom: 0;
        margin-top: -7px;

        color: $black;
        display: flex;
        justify-content: center;
        position: relative;
        @media #{$large-mobile} {
            font-size: 30px;
        }
        @media #{$extra-small-mobile} {
            font-size: 26px;
        }
    }
    & span {
        content: "";
        width: 100px;
        height: 2px;
        background: $primary;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    & .sub-title {
        font-size: 16px;
        font-weight: 400;
        color: $black;
        line-height: 1.4;
        font-family: $font-family-base;
        @media #{$extra-small-mobile} {
            font-size: 14px;
            line-height: 1.6;
        }
    }
}
/* swiper default styles */

.swiper-pagination {
    position: static;
    display: block;
    line-height: 1;
    margin-top: 20px;
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        border: 2px solid #d8d8d8;
        border-radius: 100%;
        background: transparent;
        opacity: 1;
        position: relative;
        outline: none;
        margin-right: 20px;
        margin: 0 8px !important;
        &:last-child {
            margin-right: 0;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            transition: $transition-base;
        }
  
        &:hover{
            &:before{
                width: 12px;
                height: 12px;
                opacity: 1;
                background:#d8d8d8;
                border-radius: 100%;
            }
        }
        &.swiper-pagination-bullet-active{
            background:#d8d8d8;
        }
    }
}
  
.swiper-pagination.swiper-pagination-primary  {
    & .swiper-pagination-bullet {
        &:hover{
            &:before{
                background:$primary;
            }
        }
        &.swiper-pagination-bullet-active{
            border: 2px solid $primary;
            background:$primary;
        }
    }
}
  
.swiper-nav-button {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.1s linear 2s, opacity 0.1s linear 2s;
    background-image: none;
    text-align: center;
    user-select: none;
    outline: none;
    width: 48px;
    height: 48px;
    font-size: 24px;
    color: #6d70a6;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.01);
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -50%);
    margin: 0;
    top: 50%;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: inherit;
        color: $white;
        background: $white;
    }
}
.swiper-nav-button:hover  {
    color: $white;
    &::before {
        color: $white;
        background: $headings-color;
    }
}
.swiper-container {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.swiper-container:hover {
    & .swiper-nav-button {
        opacity: 1;
        visibility: visible;
    }
}
.swiper-nav-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.swiper-nav-button i::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    content: '\f104';
}
.swiper-nav-prev i::before {
    content: '\f104';
}
.swiper-button-next i::before {
    content: '\f105';
}

  /* Overlay */
.overlay {
    position: relative;
    display: block;
    overflow: hidden;
    transition: $transition-base;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $white;
        opacity: 0;
        z-index: 1;
        transition: $transition-base;
    }

    img {
        width: 100%;
        transition-duration: 700ms;
        transition: $transition-base;
    }

    &:hover {
        &:after {
            opacity: .5;
        }

        img {
            transform: scale(1.2) rotate(0.5deg);
            transition-duration: 700ms;
            transition: 0.4s;
        }
    }
}

/* Contact Map */
.contact-map {
    height: 500px;
    width: 100%;
    display: block;
}