
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}



    <!-- Blog Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <!-- Blog Main Area Start -->
                <div class="col-lg-6 m-auto">

                    <div class="blog-comment-form-wrapper" data-aos="fade-up" data-aos-delay="400">

                        <div class="blog-comment-form-title mt-4">
                            <h1 class="title">Обратная связь</h1>
                        </div>

                        <div class="comment-box">
                            <form method="POST">

                                <div class="row">
                                    <div class="col-12 col-custom mt-4">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                    </div>
                                    <div class="col-12 col-custom mt-4">
                                        <button type="submit" class="btn btn-primary btn-hover-secondary">Отправить</button>
                                    </div>

                                </div>
                            </form>
                            <div class="col-12 col-custom mt-4">
                                <p>Я <strong>СОГЛАСЕН</strong> на обработку и хранение моих персональных данных, указанных мною в Форме обратной связи.</p>
                        </div>
                        </div>
                        <!--
                        <div class="col-12 col-custom mt-4">
                            <span class="author">* поля обязательные для заполнения<span>
                        </div>
                        -->
                    </div>
                <!-- Blog Comments Form End -->
                </div>
                <!-- Blog Main Area End -->
            </div>
        </div>
    </div>
    <!-- Blog Section End -->

{% endblock %}
