{% extends 'base.html' %}

{% load static %}

{% load thumbnail %}


    <div class="resizer col"></div>

    <!-- Single project Start -->

{% block content %}
    <!-- Blog Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row mb-n8 row-cols-sm-2 row-cols-lg-3 row-cols-1 mesonry-list">
                <div class="resizer col"></div>
                {% if all_products %}
                {% for product in all_products %}
                <div class="col mb-8">
                    <!-- Single Blog Start -->
                    <div class="blog-single-post-wrapper" data-aos="fade-up" data-aos-delay="100">
                        <div class="blog-thumb">
                            <a class="blog-overlay" href="{{ product.get_absolute_url }}">
                                {% thumbnail product.thumbnail "370" as im %}
                                <img src="{{ im.url }}" class="main-image" alt="{{ product.title }}">
                                {% endthumbnail %}
                            </a>
                        </div>
                        <div class="blog-content">
                            <h3 class="title"><a href="{{ product.get_absolute_url }}">{{ product.title|truncatechars:20 }}</a></h3>
                            <p>{{ product.description|truncatechars:140 }}</p>
                            <a class="link" href="{{ product.get_absolute_url }}">Читать далее</a>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
                {% endfor %}
                {% else %}
                    <p>
                        По запросу ничего не найдено
                    </p>
                {% endif %}
            </div>
            {% if is_paginated %}
            <div class="row mb-lg-0">
                <!-- Pagination Start -->
                <div class="col" data-aos="fade-up" data-aos-delay="300">
                    <ul class="pagination-cr mt-8 pt-8 border-top">
                        <li></li>
                        
{% for p in page_obj.paginator.page_range %}
    {% if p != page_obj.number %}
        {% if p == page_obj.paginator.num_pages and page_obj.number < page_obj.paginator.num_pages|add:-2 %}
            <li><strong>. . .</strong></li>
        {% endif %}
        {% if p == 1 or p == page_obj.previous_page_number or p == page_obj.next_page_number or p == page_obj.paginator.num_pages %}
            <li><a href="?page={{ p }}{% if query %}&query={{ query }}{% endif %}">{{ p }}</a></li>
        {% endif %}
        {% if p == 1 and page_obj.number >= 4 %}
            <li><strong>. . .</strong></li>
        {% endif %}
    {% else %}
        <li class="active"><a href="#">{{ p }}</a></li>
    {% endif %}
{% endfor %}
                        
                        <li></li>
                    </ul>
                </div>
                <!-- Pagination End -->
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Blog Section End -->
    {% endblock %}
