{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
<div class="row tm-row">
    <div class="mb-4 tm-pt-20">
        <h2 class="pt-2 tm-color-primary tm-post-title">Войти</h2>
        <div class="tm-pt-20">
            <form method="POST" class="mb-5 ml-auto mr-0 tm-signup-form">                        
            {% csrf_token %}
            {{ form|crispy }}
            <button class="tm-btn tm-btn-primary tm-btn-small">Отправить</button>                        
            </form>
            <p>* - поля обязательные для заполнения</p>
            <p>** - <a href="{% url 'users:password-reset' %}">сброс пароля</a> (если Вы забыли пароль)</p>
        </div>
    </div>
</div>

{% endblock %}