{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Blog Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <!-- Blog Main Area Start -->
                <div class="col-lg-6 m-auto">

                    <div class="blog-comment-form-wrapper" data-aos="fade-up" data-aos-delay="400">

                        <div class="blog-comment-form-title">
                            <h1 class="title">Сброс пароля</h1>
                        </div>

                        <div class="col-12 col-custom mt-4">
                            <span class="author">Письмо с инструкциями по восстановлению пароля отправлено<span>
                        </div>

                    </div>
                    <!-- Blog Comments Form End -->
                </div>
                <!-- Blog Main Area End -->
            </div>
        </div>
    </div>
    <!-- Blog Section End -->

{% endblock %}