{% load tmpl_extras %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Aрт-галерея "ТАТЬЯНА"{% endblock %}</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">




    <!-- Vendor CSS (Icon Font) -->

    <!-- 
    <link rel="stylesheet" href="{% static 'assets/css/vendor/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/pe-icon-7-stroke.min.css' %}"> 
    -->

    <!-- Plugins CSS (All Plugins Files) -->

    <!--     
    <link rel="stylesheet" href="{% static 'assets/css/plugins/splitting.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/aos.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/odometer-theme-default.min.css' %}"> 
    -->

    <!-- Main Style CSS -->

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" /> 


    <!-- Use the minified version files listed below for better performance and remove the files listed above -->

    <link rel="stylesheet" href="{% static 'assets/css/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}">

</head>


<body>

    <!-- Header Section Start -->
    <div class="header section">

        <!-- Header Top Start -->
        <div class="header-top bg-secondary">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Header Top Link/Search Start -->
                    <div class="col-lg-8 col-md-12">
                        <ul class="header-top-links">
                            <li><a href="{% url 'art:filter' 'cat' 'all' %}"><b>Работ: {% total_obj %}</b></a></li>
                            <li><a href="{% url 'art:filter' 'cat' 'all' %}"><b>Категорий: {% total_cat %}</b></a></li>
                            <li><a href="{% url 'art:filter' 'tec' 'all' %}"><b>Техник: {% total_tec %}</b></a></li>
                            <li><a href="{% url 'art:filter' 'cat' 'all' %}"><b>Авторов: {% total_aut %}</b></a></li>
                        </ul>
                    </div>
                    <!-- Header Top Link/Search End -->
                    <!-- Header Top Action Bar Start -->
                    <div class="col-lg-4 col-md-12 text-md-right">
                        <form method="GET" class="header-top-action" action="/">
                            <!--
                            <input class="action-search" type="text" placeholder="Поиск">
                            -->
                            {{ searchform }}
                            <button class="action-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- Header Top Action Bar End -->
                </div>
            </div>
        </div>
        <!-- Header Top End -->

        <!-- Header Bottom Start -->
        <div class="header-bottom section header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Header Logo Start -->
                    <div class="col-lg-3 col-6">
                        <div class="header-logo">
                            <a href="/"><img src="{% static 'assets/images/logo/logo.gif' %}" alt="Site Logo" /></a>
                        </div>
                    </div>
                    <!-- Header Logo End -->

                    <!-- Header Menu Start -->
                    <div class="col-lg-9 col-6">
                        <!-- Main Menu Start -->
                        <div class="main-menu d-none d-lg-flex">
                            <ul>
                                <li class="has-children">
                                    <a href="#">Категории</a>
                                    <ul class="sub-menu">
                                        {% menu_items_cat_tec 'cat' %}
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">Техники</a>
                                    <ul class="sub-menu">
                                        {% menu_items_cat_tec 'tec' %}
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">Авторы</a>
                                    <ul class="sub-menu">
                                        {% menu_items_cat_tec 'aut' %}
                                    </ul>
                                </li>
                                <li><a href="{% url 'art:contacts' %}">Контакты</a></li>
                                {% if user.is_authenticated %}
                                <li class="has-children">
                                    <a href="#">{{user.username|truncatechars:7}}</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'users:password-change' %}">Изменить пароль</a></li>
                                        <li><a href="{% url 'logout' %}">Выход</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li><a href="{% url 'users:signup' %}">Регистрация</a></li>
                                <li><a href="{% url 'users:login' %}">Войти</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- Main Menu End -->

                        <!-- Main Menu Riht Side Start -->
                        <div class="main-menu-right-side d-flex d-lg-none">

                            <!-- Header Search Start -->
                            <div class="header-search mr-4">
                                <a class="header-search-icon" href="#"><i class="fa fa-search"></i></a>
                            </div>
                            <!-- Header Search End -->

                            <!-- Mobile Menu Bar Start -->
                            <div class="mobile-menu-bar-wrapper">
                                <a href="#" class="mobile-menu-bar"><i class="fa fa-bars"></i></a>
                            </div>
                            <!-- Mobile Menu Bar End -->

                        </div>
                        <!-- Main Menu Riht Side End -->

                    </div>
                    <!-- Header Menu End -->
                </div>
            </div>
        </div>
        <!-- Header Bottom End -->

        <!-- Mobile Menu Start -->
        <div class="mobile-menu-wrapper">
            <div class="body-overlay"></div>
            <!-- Mobile Menu Inner Start -->
            <div class="mobile-menu-inner">

                <!-- Button Close Start -->
                <div class="btn-close-bar">
                    <i class="pe-7s-close"></i>
                </div>
                <!-- Button Close End -->

                <!-- mobile menu start -->
                <div class="mobile-navigation">
                    <nav>
                        <ul class="mobile-menu">
                            <li>
                                <a href="/">Главная</a>
                            </li>
                            <li class="has-children">
                                <a href="#">Категории <i class="fa fa-angle-down aria-hidden="true""></i></a>
                                <ul class="dropdown">
                                    {% menu_items_cat_tec 'cat' %}
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Техники <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    {% menu_items_cat_tec 'tec' %}
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Авторы <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    {% menu_items_cat_tec 'aut' %}
                                </ul>
                            </li>
                            <li><a href="{% url 'art:contacts' %}">Контакты</a></li>
                            {% if user.is_authenticated %}
                            <li class="has-children">
                                <a href="#">{{user.username}}<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'users:password-change' %}">Изменить пароль</a></li>
                                    <li><a href="{% url 'logout' %}">Выход</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="{% url 'users:signup' %}">Регистрация</a></li>
                            <li><a href="{% url 'users:login' %}">Войти</a></li>
                            {% endif %}
                    </ul>
                    </nav>
                </div>
                <!-- mobile menu end -->
                <!-- Contact Links/Social Links Start -->
                <div class="mt-auto">
                    <!-- Contact Link Start -->
                    <ul class="contact-links">
                        <li><a href="{% url 'art:filter' 'cat' 'all' %}">Работ: <b>{% total_obj %}</b></a></li>
                        <li><a href="{% url 'art:filter' 'cat' 'all' %}">Категорий: <b>{% total_cat %}</b></a></li>
                        <li><a href="{% url 'art:filter' 'tec' 'all' %}">Техник: <b>{% total_tec %}</b></a></li>
                        <li><a href="{% url 'art:filter' 'cat' 'all' %}">Авторов: <b>{% total_aut %}</b></a></li>
                    </ul>
                    <!-- Contact Link End -->

                </div>
                <!-- Contact Links/Social Links End -->

            </div>
            <!-- Mobile Menu Inner End -->
        </div>
        <!-- Mobile Menu End -->

        <!-- Offcanvas Search Start -->
        <div class="offcanvas-search">
            <!-- Offcanvas Search Inner Start -->
            <div class="offcanvas-search-inner">
                <!-- Button Close Start -->
                <div class="btn-close-bar">
                    <i class="pe-7s-close"></i>
                </div>
                <!-- Button Close End -->

                <!-- Offcanvas Search Form Start -->
                <form method="GET" class="offcanvas-search-form" action="/">
                    {{ searchform }}
<!--                    <input type="text" placeholder="Search Products...">
    -->
                </form>
                <!-- Offcanvas Search Form End -->

            </div>
            <!-- Offcanvas Search Inner End -->

        </div>
        <!-- Offcanvas Search End -->

    </div>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Start -->
<!--    
<div class="section breadcrumb-bg breadcrumb-1-bg">
-->
    <div class="section breadcrumb-bg breadcrumb-{% random_int 1 5 %}-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cr-breadcrumb-area">
                        <!--
                        <h1 class="title">{% block page_title %}{{ page_title }}{% endblock %}</h1>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    {% block content %}
    {% endblock %}

    <footer class="section footer-section bg-secondary">
        <!-- Footer Top Start -->
        <div class="footer-top">
            <div class="container">
                <div class="row mb-n10">
                    <!--
                    <div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-10">
                    -->
                    <div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-10"">
                            <div class="single-footer-widget">
                            <h2 class="widget-title">Категории</h2>
                            <ul class="widget-list pt-6">
                                {% menu_items_cat_tec 'cat' 'noall' %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-10"">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Техники</h2>
                            <ul class="widget-list pt-6">
                                {% menu_items_cat_tec 'tec' 'noall' %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-10"">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Авторы</h2>
                            <ul class="widget-list pt-6">
                                {% menu_items_cat_tec 'aut' 'noall' %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-10"">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Страницы</h2>
                            <ul class="widget-list pt-6">
                                <li><a href="/">Главная</a></li>
                                <li><a href="{% url 'art:contacts' %}">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 col-xl-3 mb-10"">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Личный кабинет</h2>
                            <p class="desc-content mb-0"><strong>{{user.username}}</strong></p>
                            {% if user.is_authenticated %}
                                <ul class="widget-list pt-1">
                                <li><a href="{% url 'users:password-change' %}">Изменить пароль</a></li>
                                <li><a href="{% url 'logout' %}">Выход</a></li>
                                {% else %}
                                <ul class="widget-list pt-6">
                                    <li><a href="{% url 'users:signup' %}">Регистрация</a></li>
                                <li><a href="{% url 'users:login' %}">Войти</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->

        <!-- Footer Bottom Start -->
        <div class="container">
            <div class="row align-items-center footer-bottom">
                <div class="col-12 text-center">
                    <div class="copyright-content">
                        <p class="mb-0">© 
<script language="JavaScript">
TekDat4Year = new Date();
tekear = TekDat4Year.getYear();
if (tekear < 1800) tekear = tekear + 1900;
styear = 2022
document.write(styear);
if (styear < tekear) document.write(' - ' + tekear);
</script>
                        <a href="https://artgallery-tatyana.ru/">Aрт-галерея "ТАТЬЯНА".</a> Все права защищены.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </footer>
    <!-- Scroll Top Start -->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fa fa-long-arrow-up"></i>
        <i class="arrow-bottom fa fa-long-arrow-up"></i>
    </a>
    <!-- Scroll Top End -->

    <!-- Scripts -->
    <!-- Global Vendor, plugins JS -->

    <!-- Vendors JS -->

    <!--     
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script> 
    -->

    <!-- Plugins JS -->

    <!--     
    <script src="{% static 'assets/js/plugins/splitting.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/aos.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/masonry.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/odometer.min.js' %}"></script> 
    -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->


    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.min.js' %}"></script>



    <!--Main JS-->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>