{% load tmpl_extras %}

{% if all_items %}
    {% for item in all_items %}
        {% if item.num_arts > 0 %}
        <li><a href="{% url 'art:filter' items_type item.slug %}">{{ item.title|truncatechars:12 }} ({{ item.num_arts }})</a></li>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No menu items are available.</p>
{% endif %}
{% if items_no_all == 'all' %}
    <li class="dropdown-divider"></li>
    <li><a href="{% url 'art:filter' items_type 'all' %}">Все ({% total_obj %})</a></li>
{% endif %}

